@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
h1 {font-size: 72px; font-weight: 700; letter-spacing: 1.08px;}
p {font-family: Lato, sans-serif; color: #939393;}
h2 {font-size: 36px; font-weight: 700; letter-spacing: 0.54px;}
h3 {font-size: 18px; font-weight: 700; color: #18a5cb; letter-spacing: 0.27px;}
h4 {color: #ffffff; font-size: 40px; font-weight: 400; letter-spacing: 0.6px;}
h5 {color: #ffffff; font-size: 20px; font-weight: 400; letter-spacing: 0.3px;}
h6 {font-size: 16px; font-weight: 700; letter-spacing: 0.24px; color: #6ac7e8;}
@media(min-width: 0px) and (max-width: 320px) {

}


body {
	padding: 0;
	margin: 0;
	font-family: Lato, sans-serif;
	font-weight: 400;
	/*text-align: center;*/

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.block1 {
	height: 774px;
	background-color: #6ac7e8;
}

.setka1 {
	width: 1172px;
	height: 737px;
	padding-top: 35px;
}

.header_text {
	/* Style for "О продукте" */
	/*width: 77px;*/
	height: 12px;
	/*color: #fdfdff;*/
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	/* Text style for "О продукте" */
	letter-spacing: 0.21px;
}

.buy_button {
	width: 90px;
	height: 36px;
	border-radius: 17px;
	border: 1px solid #ffffff;
}

/* Style for "SELFIE BOX" */
.s-box-header {
	width: 133px;
	height: 19px;
	color: #fdfdff;
	font-family: Lato;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	/* Text style for "SELFIE BOX" */
	letter-spacing: 0.36px;
}

.s1-content1 {
	width: 190px;
	height: 42px;
}

.s1-content2 {
	width: 550px;
	height: 36px;
}

.s1-content3 {
	width: 700px;
	height: 507px;
}

.uznat_podrobnee {
	width: 190px;
	height: 44px;
	border-radius: 21px;
	background-color: #3ae5c4;
	/*margin-top: 39px;*/
}

.block2 {
	height: 791px;
}

.setka2 {
	width: 1000px;
	height: 534px;
	padding-top: 152px;
}

.s2-content1 {
	padding-top: 66px;
}

.s2-content1 img {
	width: 250px;
	height: 385px;
	margin-left: 44px;
}

.prototype_Selfie {
	padding-top: 34px;
}

.instrument_for {
	width: 491px;
	height: 34px;
}

.ustroistvo_connect {
	width: 459px;
	height: 54px;
}

.auto_control {
	width: 462px;
	height: 54px;
}

.block3 {
	/*background-color: black;*/
	height: 720px;
}

.setka3 {
	widows: 1167px;
	height: 591px;
}

.s3-content1 {
	width: 364px;
	height: 591px;
	/*background-color: black;*/
}

.s3-content2 {
	width: 803px;
	height: 591px;
	border-radius: 5px 0 0 5px;
	background-color: #6ac7e8;
}

.how_work {
	width: 200px;
	color: #333f50;
	text-transform: uppercase;
}

.special1 {
	width: 335px;
	height: 226px;
	background-color: #ffffff;
	box-shadow: -16px 29px 40px rgba(26, 34, 42, 0.07);
	border-radius: 5px;
	position: relative;
	right: 90px;
	/*margin-right: 500px;*/
}

.special1 p {width: 272px; height: 70px; text-align: center;}

.special2 {
	width: 335px;
	height: 226px;
	background-color: #ffffff;
	border-radius: 5px;
	position: relative;
	right: 50px;
}

.special2 p {width: 287px; height: 73px; text-align: center;}

.special3 {
	width: 156px;
	height: 226px;
	background-color: #ffffff;
	border-radius: 5px 0 0 5px;
}

.special3 p {width: 115px; height: 72px;}
.special3 img {margin-top: 35px;}


.block4 {
	height: 540px;
}

.setka4 {
	width: 967px;
	height: 361px;
	/*background-color: black;*/
}

.s4-content1 {
	color: #333f50;
	text-transform: uppercase;
	letter-spacing: 0.54px;
}

.s4-content2 h3 {text-transform: uppercase; letter-spacing: 0.27px;}
.s4-text1 {letter-spacing: 0.24px; font-weight: 400; text-align: center; width: 245px; height: 92px;}
.s4-text2 {letter-spacing: 0.24px; font-weight: 400; text-align: center; width: 283px; height: 92px;}
.s4-text3 {letter-spacing: 0.24px; font-weight: 400; text-align: center; width: 256px; height: 92px;}

.block5 {
	height: 527px;
	padding-top: 50px;
}

.block5 img {
	position: relative;
	right: 100px;
	top: 84px;
}

.setka5 {
	width: 968px;
	height: 463px;
	background-color: #6ac7e8;
	position: relative;
	left: 100px;
}

.stick {
	width: 12px;
	height: 3px;
	background-color: white;
}

/* Style for "BG" */
.order_now {
	width: 171px;
	height: 44px;
	border-radius: 21px;
	background-color: #ffffff;
	color: #6ac7e8;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.24px;
}

.block6 {
	padding-top: 190px;
	height: 967px;
}

/*.block6 a{ text-decoration: none; }*/

.setka6 {
	width: 1000px;
	height: 660px;
}

.colona {
	width: 472px;
	height: 613px;
}

.s6-content2,
.s6-content3,
.s6-content4 {
/* Style for "BG" */
	width: 472px;
	height: 294px;
	border: 1px solid #dbdbf1;
}

.s6-content1 {
	width: 472px;
	height: 294px;
}

.just_order {
	/* Style for "BG" */
	width: 144px;
	height: 38px;
	border-radius: 18px;
	background-color: #6ac7e8;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.24px;
}

.block7 {
	height: 625px;
	background-color: #6ac7e8;
}

.setka7 {
	width: 850px;
	height: 475px;
	position: absolute;
	/*background-color: white;*/
}

.s7-table {
/* Style for "BG" */
	width: 321px;
	height: 412px;
	box-shadow: -1px 13px 34px 10px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	background-color: #ffffff;
	/*position: relative;*/
}

.s7-table-special {
	/* Style for "BG" */
	width: 321px;
	height: 475px;
	box-shadow: -1px 13px 34px 10px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	background-color: #ffffff;
	position: relative;
}

.learn_more {
	width: 171px;
	height: 45px;
	border-radius: 21px;
	border: 1px solid #6ac7e8;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.s7-table a {
	text-decoration: none;
	text-align: center;
}

.s7-table-special a {
	text-decoration: none;
	text-align: center;
}

.tarifi:hover h6 {
	width: 171px;
	color: #fefeff;
	height: 45px;
	border-radius: 21px;
	background-color: #6ac7e8;
}

.tarifi {
	width: 246px;
	height: 384px;
}

.y2, .y3 {width: 209px; height: 331px;}

.block8 {
	height: 712px;
}

.setka8 {
	/*background-color: black;*/
	width: 956px;
	height: 556px;
}

.s8-content1 h3 {
	/* Style for "Все еще со" */
	width: 439px;
	height: 35px;
	color: #6ac7e8;
	font-size: 40px;
	font-weight: 400;
	/* Text style for "Все еще со" */
	letter-spacing: 0.6px;
}

.s8-content1 {
	width: 453px;
	height: 200px;
}

.s8-stick {
	/* Style for "Sep" */
	width: 12px;
	height: 2px;
	border-radius: 1px;
	background-color: #6ac7e8;
}

.s8-content1 h3 {
	/* Style for "Все еще со" */
	width: 439px;
	height: 35px;
	color: #6ac7e8;
	font-family: Lato;
	font-size: 40px;
	font-weight: 400;
	/* Text style for "Все еще со" */
	letter-spacing: 0.6px;
}

.s8-content1 p {
	/* Style for "Проверьте" */
	width: 453px;
	height: 42px;
	color: #939393;
	font-family: Lato;
	font-size: 20px;
	font-weight: 400;
	/* Text style for "П, роверьт" */
	letter-spacing: 0.3px;
}

.s8-content1 a {
	/* Style for "BG" */
	width: 171px;
	height: 44px;
	border-radius: 21px;
	background-color: #6ac7e8;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.24px;
}

.img_border {width: 100%;}

.setka10 {
	width: 1006px;
	height: 200px;
	margin-left: 96px;
}

.setka10 h3 {
	/* Style for "О продукте" */
	height: 5px;
	color: #333f50;
	font-family: Lato;
	font-size: 18px;
	font-weight: 700;
	/* Text style for "О продукте" */
	letter-spacing: 0.27px;
}

.setka10 a {
	/* Style for "О продукте" */
	color: #939393;
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	/* Text style for "О,  продук" */
	letter-spacing: 0.21px;
}

.s10-content4 {
	width: 264px;
	height: 145px;
}


.input-control {
	border-radius: 21px;
}