=linear-gradient($direction, $fromColor, $toColor)
  background-color: $toColor 
  background-image: -webkit-gradient(linear, $direction, from($fromColor), to($toColor)) 
  background-image: -webkit-linear-gradient($direction, $fromColor, $toColor) 
  background-image:    -moz-linear-gradient($direction, $fromColor, $toColor) 
  background-image:     -ms-linear-gradient($direction, $fromColor, $toColor) 
  background-image:      -o-linear-gradient($direction, $fromColor, $toColor) 
  background-image:         linear-gradient($direction, $fromColor, $toColor)
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}')


=sections-item($className, $bgUrl, $x: center, $y: center)
	.#{$className}
		&__img
			margin-bottom: 25px
			width: 100%
			height: 150px
			background: url($bgUrl)
			background-repeat: no-repeat
			background-size: cover
			background-position: $x $y
		&__text
			margin-bottom: 40px
		&__secret
			display: none