.header-block {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 35px 0;
}

.header__items {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(66.66667% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .header__items {
    width: calc(100% - 30px);
  }
}

.header__logo {
  width: 150px;
}

.header__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: calc(80.83333% - 30px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__search {
  max-width: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 3px;
  border-bottom: 1px solid #cacaca;
}

.header__search input {
  color: #828282;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  cursor: default;
}

.header__link {
  font-size: 14px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__link:not(:last-child) {
  margin-right: 38px;
}

.header__link:hover {
  color: gray;
}

.header__info {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(21.66667% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .header__info {
    width: calc(100% - 30px);
  }
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__email {
  margin-left: 16px;
}

.header__email p {
  margin: 0;
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
}

.header__email a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__product {
  margin-left: 16px;
}

.header__product p {
  margin: 0;
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
}

.header__product a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}

.second-nav {
  position: relative;
}

.second-nav-block-1 {
  background: url("../img/second-nav/1.jpg") no-repeat;
  background-size: auto;
}

.second-nav-block-2 {
  background: url("../img/second-nav/2.jpg") no-repeat;
  background-size: auto;
}

.second-nav-block-3 {
  background: url("../img/second-nav/3.jpg") no-repeat;
  background-size: auto;
}

.second-nav__items {
  padding: 162px 0;
}

.second-nav__title {
  max-width: 472px;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.second-nav__subtitle {
  max-width: 366px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.second-nav__btn {
  margin-top: 44px;
}

.advantages__title {
  max-width: 1229px;
  margin: 0 auto;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.advantages__big {
  position: relative;
  background-size: cover;
  margin-top: 66px;
  height: 675px;
  -webkit-transition: .3s;
  transition: .3s;
}

.advantages__big:after {
  position: absolute;
  top: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
}

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.advantages__workshop {
  width: calc(100% / 7);
  padding: 47px 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: baseline;
  -ms-flex-pack: baseline;
  justify-content: baseline;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

.advantages__logo {
  max-width: 67px;
  width: 100%;
  height: 66px;
  background-color: #fff;
}

.advantages__logo-1 {
  background: url("../img/advantages/logo-1.png") 50% no-repeat;
  background-size: auto;
}

.advantages__logo-2 {
  background: url("../img/advantages/logo-2.png") 50% no-repeat;
  background-size: auto;
}

.advantages__logo-3 {
  background: url("../img/advantages/logo-3.png") 50% no-repeat;
  background-size: auto;
}

.advantages__logo-4 {
  background: url("../img/advantages/logo-4.png") 50% no-repeat;
  background-size: auto;
}

.advantages__logo-5 {
  background: url("../img/advantages/logo-5.png") 50% no-repeat;
  background-size: auto;
}

.advantages__digit {
  margin-bottom: 0;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages__apps {
  margin-top: 19px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages__ship {
  margin-top: 88px;
}

.advantages__second-el {
  position: absolute;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages__icon {
  max-width: 246px;
  width: 100%;
  height: 246px;
  margin-right: 120px;
  background: url("../img/advantages/adv-icon-1.png") no-repeat;
  background-size: cover;
}

.advantages__textline {
  max-width: 850px;
}

.advantages__tagline {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages__subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.advantages_white {
  color: #fff;
}

.advantages_shown:hover {
  background-color: #e6e6e6;
}

.advantages_clicked {
  background: transparent;
  color: #fff;
  cursor: default !important;
}

.advantages_clicked .advantages__digit,
.advantages_clicked .advantages__apps {
  color: #fff;
}

.advantages_clicked:hover {
  background-color: transparent;
}

.advantages_displayed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adv-ship-container {
  max-width: 1345px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.decision {
  background-color: #3092d3;
}

.decision-block {
  text-transform: uppercase;
}

.decision__title {
  margin-bottom: 62px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
}

.decision__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.decision__elem {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.decision__logo {
  max-width: 74px;
  width: 100%;
}

.decision__description {
  margin-left: 25px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.banners__layers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banners__bg {
  position: relative;
  margin-bottom: 111px;
  max-width: 672px;
  height: 291px;
  width: 100%;
  text-transform: uppercase;
}

.banners__bg:before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000), to(rgba(0,0,0,0)));
  background-image: linear-gradient(bottom, #000, rgba(0,0,0,0));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#000', EndColorStr='rgba(0,0,0,0)');
  z-index: 0;
}

.banners__bg-1 {
  background: url("../img/banners/bg-1.jpg") no-repeat;
  background-size: cover;
}

.banners__bg-2 {
  background: url("../img/banners/bg-2.jpg") no-repeat;
  background-size: cover;
}

.banners__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-width: 448px;
  height: 100%;
  margin-left: 38px;
  padding-bottom: 31px;
  z-index: 1;
}

.banners__small {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}

.banners__title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.banners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.banners__elem {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banners__logo {
  max-width: 69px;
  width: 100%;
}

.banners__description {
  margin-left: 32px;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.dealers__title {
  margin-bottom: 53px;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.dealers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.dealers__box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  margin-bottom: 28px;
  border: 1px solid #cacaca;
}

.dealers__logo {
  padding: 56px 71px 50px 63px;
}

.news {
  position: relative;
  background-color: #f7f7f7;
}

.news__title {
  margin: 0;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.news__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 61px;
}

.news__delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news__link {
  margin-left: 15px;
  color: #817f7f;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: 48px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s;
}

.news__link:hover {
  color: #4e4c4c;
}

.news__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 618px;
  height: 201px;
  margin-right: 36px;
  margin-bottom: 31px;
  background-color: #fff;
}

.news__text {
  margin-top: 51px;
  margin-left: 58px;
  max-width: 476px;
  max-height: 105px;
  overflow: hidden;
}

.news__date {
  margin: 0;
  color: #ed5120;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.news__ads {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.news__small {
  color: #838383;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.quote__bg {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote__img {
  max-width: 320px;
  width: 100%;
  margin-right: 63px;
}

.quote__img img {
  display: block;
}

.quote__text {
  max-width: 768px;
}

.quote__title {
  margin-bottom: 41px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.quote__subtitle {
  margin-bottom: 60px;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.quote__name {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.quote__position {
  color: #817f7f;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer {
  background-color: #f7f7f7;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__rights {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
}

.footer__logo {
  display: block;
}

.footer__privacy {
  margin-top: 41px;
  margin-bottom: 31px;
  color: #747474;
  font-size: 12px;
  font-weight: 400;
}

.footer__social {
  margin-right: 6px;
  padding: 10px;
  color: #9d9d9d;
  border-radius: 5px;
  border: 1px solid #c3c3c3;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__social i {
  width: 16px;
}

.footer__social:hover {
  color: #fff;
  background-color: #ed5120;
  border-color: #ed5120;
}

.footer__redirections {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__diversion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__link {
  margin-bottom: 27px;
  color: #000;
  text-decoration: none;
}

.footer__contacts {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
}

.footer__tel {
  margin-bottom: 35px;
}

.footer__title {
  margin-top: 0;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__small {
  margin-top: 0;
  margin-bottom: 13px;
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.footer__call {
  color: #ed5120;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.support-btn {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 0;
  background: none;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  z-index: 1000;
  -webkit-animation: 5s pulse infinite;
  animation: 5s pulse infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44,0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44,0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(204,169,44,0);
    box-shadow: 0 0 0 30px rgba(204,169,44,0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44,0);
    box-shadow: 0 0 0 0 rgba(204,169,44,0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44,0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44,0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(204,169,44,0);
    box-shadow: 0 0 0 30px rgba(204,169,44,0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44,0);
    box-shadow: 0 0 0 0 rgba(204,169,44,0);
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body,
html {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1345px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-full {
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  max-width: 1740px;
  margin: 0 auto;
}

.slider-trg {
  position: absolute;
  top: calc(100% / 3 + 33px);
  background: none;
  border: none;
  cursor: pointer;
}

.slider-trg_left {
  left: 0;
  margin-left: 50px;
}

.slider-trg_right {
  right: 0;
  margin-right: 50px;
}

.slider-dots {
  position: absolute;
  bottom: 20%;
  right: calc(50% + 20px);
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.slick-dots li button:before {
  width: 14px;
  height: 22px;
  border-radius: 7px;
  color: #fff;
  opacity: 1;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.slick-active button:before {
  height: 34px !important;
  color: #ed5120 !important;
  background-color: #ed5120 !important;
  opacity: 1 !important;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.btn {
  padding: 21px 36px;
  border: none;
  border-radius: 5px;
  background-color: #ed5120;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #ef6338;
}

.section-block {
  padding: 69px 0 66px;
}