header.header
	.container
		.header-block
			.header__logo
				a(class="header__sisi", href="/") SIS 
					span &#8544
			.header__button
				span.header__burger
			.header__items
				a(class="header__link", href="#") Home
				a(class="header__link", href="#") Link
				a(class="header__link", href="#") Link
				a(class="header__link", href="#") Link
				a(class="header__link", href="#") Link