doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='author', content='JudgementHC')
		link(rel='icon', 
			href='https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.brandcrowd.com%2Fgallery%2Fbrands%2Fpictures%2Fpicture1421850692679.png&f=1&nofb=1')
		title Javascript

		//- Google Fonts
		<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap" rel="stylesheet"> 

		//- Custom styles for this template
		link(href='../css/main.css', rel='stylesheet')