.section.history#history
	.container
		.section-block.history-block
			.history__img.image(data-image)
			.history__text
				h3.history__title(data-title) title from history
				p.history__subtitle(data-subtitle) subtitle from history
				p.history__secret(data-secret) secret from history
			button.show-modal-btn Learn more