.intro
	.container-full
		.intro-block
			#particles-js.particles-js
			.intro__text
				h2.intro__title JavaScript
				p.intro__subtitle In JavaScript, there is a beautiful, elegant, highly expressive language that is buried under a steaming pile of good intentions and blunders.
				input(type='button' value='Discover more').btn.intro__btn