//- Externel Jquery file
script(src='https://code.jquery.com/jquery-3.4.1.min.js')
//- Internal Jquery file
script.
	window.jQuery || document.write('<script src="../js/jquery.min.js"><\/script>')

//- particle-js
script(src='../js/particles.min.js')

//- Custom JS file
script(src='../js/internals.js')
script(src='../js/main.js')