.modal#modal
	.container
		.modal-block
			.modal__img#modalImg
			h3.modal__title#modalTitle Modal title
			p.modal__content#modalContent Modal content
			p.modal__secret#modalSecret Modal secret
			button.modal__btn#modalBtn close