.section.statistics
	.container
		.section-block.statistics-block
			.statistics__img(data-image)
			.statistics__text
				h3.statistics__title(data-title) Title from statistics
				p.statistics__subtitle(data-subtitle) subtitle from statistics
				p.statistics__secret(data-secret) secret from statistics
			button.show-modal-btn Learn more