.about {
  margin-bottom: 7.75rem;
}

.about img {
  width: 100%;
}

.about-txt {
  margin-bottom: 1.875rem;
}

.about-txt h1 {
  height: 5.1875rem;
  color: rgba(77,77,77,0.8);
  font-family: Asap, sans-serif;
  font-size: 2.875em;
  font-weight: 700;
  line-height: 3.0625rem;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .about-txt h1 {
    display: inline-block;
  }
}

.about-txt p {
  height: 7.5625rem;
  margin-bottom: 3.25rem;
  color: #4d4d4d;
  font-family: Asap, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.625rem;
}

@media (max-width: 768px) {
  .about-txt p {
    display: inline-block;
  }
}
.delivery {
  padding-top: 3.25rem;
  padding-bottom: 4.0625rem;
  margin-bottom: 9.625rem;
  background-color: #f6f6f6;
}

.delivery img {
  width: 30%;
  margin-bottom: 1.9375rem;
}

.delivery h3 {
  color: rgba(33,33,33,0.9);
  font-family: "Asap Medium";
  font-size: 1.875em;
  font-weight: 500;
  text-transform: uppercase;
}

.delivery p {
  color: rgba(33,33,33,0.9);
  font-family: "Asap - Regular";
  font-size: 1.375em;
  font-weight: 400;
  text-transform: uppercase;
}
.footer {
  background: url("../img/say-hello/contact_bg.jpg") no-repeat;
  background-size: cover;
  background-color: rgba(33,33,33,0.69);
}

.footer .say-hello h1 {
  height: 34px;
  padding-top: 145px;
  margin-bottom: 95px;
  color: rgba(255,255,255,0.9);
  font-family: Asap;
  font-size: 46px;
  font-weight: 700;
  line-height: 49px;
  text-transform: uppercase;
  letter-spacing: 5.52px;
}

.footer .say-hello input {
  width: 370px;
  height: 57px;
  padding-left: 10px;
  margin-bottom: 29px;
  background-color: #fff;
}

.footer .say-hello textarea {
  width: 768px;
  height: 207px;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 30px;
  background-color: #fff;
}

.footer .say-hello button {
  display: block;
  margin: auto;
}

.footer .say-hello_form {
  margin-bottom: 58px;
}

.footer .say-hello_allRight {
  padding-top: 33px;
  padding-bottom: 33px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.input-name {
  margin-right: 22px;
}

.reserved {
  width: 75%;
  text-align: center;
}

.reserved p {
  height: 16px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0.96px;
}

@media (max-width: 768px) {
  input {
    width: 100% !important;
    margin-right: 0 !important;
  }

  textarea {
    width: 100% !important;
  }

  .links {
    width: 100%;
    text-align: center;
  }

  .reserved {
    width: 100%;
  }
}
html,
body {
  padding: 0;
  margin: 0;
}

.btn-m {
  padding: 0.9375rem 1.875rem;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #fff;
  text-align: center;
  -webkit-box-shadow: 0 18px 27px 2px rgba(0,0,0,0.1);
  box-shadow: 0 18px 27px 2px rgba(0,0,0,0.1);
  color: #4d4d4d;
  font-family: Asap, sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.96px;
}

.btn-m:hover {
  text-decoration: none;
}

.btn-m:focus {
  outline: none;
}

.btn-o {
  padding: 0.9375rem 1.875rem;
  display: inline-block;
  background-color: transparent;
  border: 1px solid #4d4d4d;
  text-align: center;
  color: #4d4d4d;
  font-family: Asap, sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.96px;
}

.btn-o:hover {
  text-decoration: none;
}

.btn-o:focus {
  outline: none;
}

.overline::before {
  content: '';
  display: block;
  width: 20%;
  height: 0.25rem;
  -webkit-transform: translateY(-18px) translateX(3px) scale(1);
  transform: translateY(-18px) translateX(3px) scale(1);
  background-color: rgba(77,77,77,0.8);
}

@media (max-width: 768px) {
  .overline::before {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.overline-center::before {
  content: '';
  display: block;
  width: 20%;
  height: 0.25rem;
  -webkit-transform: translateY(-18px) translateX(191%) scale(1);
  transform: translateY(-18px) translateX(191%) scale(1);
  background-color: rgba(77,77,77,0.8);
}

@media (max-width: 768px) {
  .overline-center::before {
    -webkit-transform: translateY(0px) translateX(191%);
    transform: translateY(0px) translateX(191%);
  }
}

.overline-white::before {
  background-color: rgba(255,255,255,0.6);
}

.slick-dots {
  position: relative;
}

.slick-dots li {
  width: 0.625rem;
}

.slick-dots li button:before {
  width: 0.8125rem;
  height: 0.8125rem;
  font-size: 0;
  border: 1px solid;
  border-color: #000;
}

.slick-dots li.slick-active button::before {
  background-color: #000;
}

@media (max-width: 768px) {
  h1 {
    font-size: 25px !important;
  }
}
.header {
  margin-bottom: 6.8125rem;
  background: url("../img/header/bg_element_.png") 70% 100% no-repeat;
  background-color: #DFDFDF;
}

@media (max-width: 768px) {
  .header {
    background-size: cover;
  }
}

.header-nav {
  margin-bottom: 3.0rem;
}

@media (max-width: 768px) {
  .header-nav {
    height: 50%;
  }
}

.header a {
  text-decoration: none;
}

.header a:focus {
  outline: none;
}

.header .container {
  padding-top: 2.5rem;
}

.header .link img {
  margin-bottom: 0.625rem;
}

.header .link p {
  margin: 0;
  height: 0.8125rem;
  color: #000000;
  font-family: "Times New Roman";
  font-size: 0.875em;
  font-weight: 400;
  line-height: 0.995em;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}

.header .link h6 {
  height: 0.25rem;
  color: #000000;
  font-family: Lato;
  font-size: 0.25em;
  font-weight: 400;
  line-height: 0.995em;
  text-transform: uppercase;
  letter-spacing: 2.04px;
}

.header .active_link::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.0625rem;
  -webkit-transform: translateY(8px) scale(1);
  transform: translateY(8px) scale(1);
  background-color: rgba(77,77,77,0.5);
}

@media (max-width: 768px) {
  .header .active_link::after {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

.header-link {
  margin-bottom: 10.9375rem;
}

.header-link a {
  color: #4d4d4d;
}

.header-link a::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.0625rem;
  -webkit-transform: translateY(8px) scale(0);
  transform: translateY(8px) scale(0);
  background-color: rgba(77,77,77,0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-link a:hover::after {
  -webkit-transform: translateY(8px) scale(1);
  transform: translateY(8px) scale(1);
}

.header-menu h1 {
  margin: 0;
  color: #4d4d4d;
  font-family: Asap, sans-serif;
  font-size: 4.0625em;
  font-weight: 500;
}

.header-menu p {
  margin-bottom: 1.75rem;
  color: rgba(77,77,77,0.5);
  font-family: Asap, sans-serif;
  font-size: 1.0625em;
  font-weight: 500;
}

.header-menu_img img {
  width: 100%;
  height: 30rem;
  -webkit-transform: translateX(-3.75rem);
  transform: translateX(-3.75rem);
}

@media (max-width: 768px) {
  .header-menu_img img {
    height: 100%;
    -webkit-transform: translateX(-2.5rem);
    transform: translateX(-2.5rem);
  }
}

.header-menu_txt {
  margin-bottom: 3rem;
}
.my-skills {
  padding-bottom: 7.9375rem;
}

.my-skills h1 {
  height: 2.125rem;
  margin-bottom: 3.8125rem;
  color: rgba(77,77,77,0.8);
  font-family: Asap;
  font-size: 2.875em;
  font-weight: 700;
  line-height: 3.0625rem;
  text-transform: uppercase;
  letter-spacing: 5.52px;
}

.my-skills img {
  width: 100%;
}
.portfolio {
  padding-top: 8.75rem;
  padding-bottom: 7.6875rem;
  padding-right: 0;
  background-color: #f6f6f6;
}

.portfolio h1 {
  height: 2.125rem;
  margin-bottom: 2.8125rem;
  color: rgba(77,77,77,0.8);
  font-family: Asap;
  font-size: 2.875em;
  font-weight: 700;
  line-height: 3.0625rem;
  text-transform: uppercase;
  letter-spacing: 5.52px;
}

.portfolio img {
  width: 100%;
}
.services {
  padding-top: 8.875rem;
  padding-bottom: 3.75rem;
  background-color: #f6f6f6;
  margin-bottom: 8.75rem;
}

.services h1 {
  height: 2.125rem;
  margin-bottom: 3.75rem;
  color: rgba(77,77,77,0.8);
  font-family: Asap, sans-serif;
  font-size: 2.875em;
  font-weight: 700;
  line-height: 3.0625rem;
  text-transform: uppercase;
  letter-spacing: 5.52px;
}

.services p {
  height: 1.25rem;
  margin-bottom: 5.5rem;
  color: #4d4d4d;
  font-family: Asap;
  font-size: 1.5em;
  font-weight: 500;
  line-height: 3.0625rem;
}
.testimonials {
  padding-top: 7.875rem;
  margin-bottom: 7.625rem;
}

.testimonials_txt {
  margin-bottom: 3.5625rem;
}

.testimonials_txt h1 {
  height: 2.125rem;
  color: rgba(77,77,77,0.8);
  font-family: Asap;
  font-size: 2.875em;
  font-weight: 700;
  line-height: 3.0625rem;
  text-transform: uppercase;
  letter-spacing: 5.52px;
}

.testimonials_sliders {
  padding: 5.125rem 4.6875rem 4.375rem 7.5625rem;
  margin-bottom: 7.625rem;
  border: 1px solid #212121;
}

@media (max-width: 768px) {
  .testimonials_sliders {
    padding: 0;
  }
}

.testimonials_sliders img {
  margin-right: 1.9375rem;
}

@media (max-width: 768px) {
  .testimonials_sliders img {
    margin: auto;
  }
}

.testimonials_sliders h2 {
  height: 1.375rem;
  color: rgba(33,33,33,0.9);
  font-family: Asap;
  font-size: 1.875em;
  font-weight: 500;
  line-height: 3.0625rem;
  text-transform: uppercase;
}

.testimonials_sliders small {
  height: 0.6875rem;
  color: rgba(33,33,33,0.9);
  font-family: Asap;
  font-size: 0.75em;
  font-style: italic;
  line-height: 3.0625rem;
  text-transform: uppercase;
}

.testimonials_sliders p {
  height: 5.8125rem;
  color: rgba(33,33,33,0.9);
  font-family: Asap;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.625rem;
  text-transform: uppercase;
}

.testi_slider:focus {
  outline: none;
}

@media (max-width: 768px) {
  .testi_slider {
    text-align: center;
  }
}